.Checkout_Product {
    display: flex;
    background-color: #e7eeee;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 1px darkgrey;
}

.Checkout_Product input {
    margin-left: 5px;
}

.Checkout_Product button {
    margin-right: 8px;
    margin-left: 8px;
    width: 25px;
    height: 25px;
    padding: 0;
}

.Checkout_Product label {
    font-size: 15px;
    margin-bottom: 3px;
}

.Checkout_Product form {
    float: right;
}

.Checkout_Product img {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 1px 5px 1px darkgrey;
}

.checkbox_info {
    margin-left: 15px;
    margin-top: 20px;
}

.checkout h2 {
    margin-bottom: 30px;
    margin-top: 15px;
}

.checkout {
    margin-left: 15px;
}

.checkbox_form {
    margin-left: auto;
    margin-top: 35px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 13px;
    cursor: pointer;
    font-size: 25px;
}

.checkbox_buttons {
    display: flex;
}

.checkout_items {
    display: flex;
    position: relative;
}

.checkout_items a {
    margin-right: 10px;
    font-size: 15px;
    color: gray;
}

.checkout_items a:hover {
    color: rgb(83, 83, 83);
}

.total {
    box-shadow: 0px 1px 4px 1px darkgrey;
    border-radius: 5px;
    padding: 10px;
    height: 150px;
    position: relative;
}

.total small {
    font-size: 14px;
    margin-left: 5px;
}

.proceed-btn {
    margin: auto;
    width: 90%;
    background-color: #F7CA00;
    position: absolute;
    bottom: 10px;
    margin-right: 10px;
    border-radius: 6px;
    height: 35px;
}

.proceed-btn button {
    background-color: #F7CA00;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

.proceed-btn button:hover {
    background-color: #ffd106;
}


@media only screen and (min-width: 768px) and (max-width: 997px) {
    h5 {
        font-size: small;
    }

    .total small {
        font-size: 12px
    }

    .proceed-btn button {
        font-size: 14px;
    }

    .checkout_items a {
        margin-right: 6px;
        font-size: 9px;
    }
}

@media only screen and (min-width: 399px) and (max-width: 768px) {
    .checkout_items {
        flex-direction: column;
    }

    .checkout_items a {
        margin-right: 0px;
        font-size: 11px;
    }

    .checkbox_info {
        margin-left: 8px;
    }

    .Checkout_Product form {
        display: none;
    }
    .checkbox_buttons p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 399px) {
    .checkout_items {
        flex-direction: column;
    }

    .checkout_items a {
        margin-right: 0px;
        font-size: 11px;
        display: none;
    }

    .checkbox_info {
        margin-left: 8px;
    }
    .Checkout_Product form {
        display: none;
    }

    .checkbox_buttons {
        flex-direction: column;
    }

    .checkbox_buttons p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .Checkout_Product button {
        margin-right: 2px;
        margin-left: 3px;
        width: 19px;
        height: 27px
    }
    .Checkout_Product img {
        width: 150px;
        height: 150px;
    }
}